<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
    <script src="vue.global.js"></script>
</head>
<body>
    <div id="app">
        <h1>
            Faça Login</h1>
        <form>
            <label for="username">Nome de Usuário:</label>
            <input type="text" v-model="username" required><br><br>
            <label for="password">Senha:</label>
            <input type="password" v-model="password" required>
            <button type="submit" @click.prevent="login">Submit</button>
        </form> <!--Fechamento form-->
        <p v-if="error" class="error">{{error}}</p>
    </div>
    <script src="process.js"></script>
</body>
</html>