.calculadora
{
    position: fixed;
    top:50%;
    left:50%;
    background-color:rgb(0, 229, 255);
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-image: linear-gradient(rgb(62, 62, 63), rgb(62, 62, 63));
    border: 1px solid #ccc;
    border-radius:4px;
    padding:20px;
}/*Fechamento calculadora*/

.tela
{
        display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size:3rem;
    width: 230px;
    height: 90px;
    margin-bottom: 20px;
    border: 3px solid #ffffff;
    padding: 10px;
    border-radius: 4px;
    background-color:rgb(0, 0, 0);
    color:#ccc;
}/*Fechamento tela*/

.botao
{
    display: flex;
    flex-direction: column;
    align-items: center;
}/*Fechamento botao*/

.linhas
{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}/*Fechamento coluna*/

.operadores
{
    background-color: #e467a8;
    color:#f5f5f5;
    border: 2px solid #0b0808;
}/*Fechamento operadores*/

.outros
{
    background-color: rgb(234, 129, 0);
    color:#f5f5f5;

}
button
{
    width: 45px;
    height: 45px;
    margin: 4px;
    font-size: 2rem;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
}

.clear
{
    background-color: rgb(38, 219, 210)
}

button:hover{
    background-color:#e467a8;
    color:#ccc;
}

